html,body{
    width: 100%;
    height: 100%;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    display: block;
    width: 100%;
    height: 100%;
}
.container{
    min-width: 320px;
    max-width: 640px;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    position: relative;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 45px;
    overflow: hidden;
}
.lt_main{
    width: 100%;
    height: 100%;
    position: relative;
}
.lt_top{
    width: 100%;
    height: 45px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #316699;
}
.lt_bottom{
    min-width: 320px;
    max-width: 640px;
    height: 55px;
    width: 100%;
    position: absolute;
    z-index: 9999;
    left: 0px;
    bottom: 0px;
    background-color: #316699;
}
.icon_left,
.icon_right{
    line-height: 45px;
    text-align: center;
    top: 0;
    position: absolute;
    display: block;
    width: 45px;
    height: 45px;
}
.icon_left{
    left: 0px;
}
.icon_right{
    right: 0;
}
.icon_left i,
.icon_right i{
    color: #FFFFFF;
}
.lt_top h3{
    padding-left: 45px;
    padding-right: 45px;
    font-size: 20px;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif ;
    line-height: 45px;
    text-align: center;
    font-weight: normal;
    color: #FFFFFF;

}

.lt_bottom ul li {
    text-align: center;
    color: #FFFFFF;
}
.lt_bottom ul li p{
    text-align: center;
    color: #FFFFFF;
}
.lt_bottom ul li a{
    padding-top: 8px;
    display: block;
    width: 25%;
    height: 55px;
    float: left;
    color: #FFFFFF;

}

.lt_bottom  ul li a.current,
.lt_bottom  ul li a.current p
{
    color: gold;
}