htmml,body{
    width: 100%;
    height: 100%;
}
.body_bg{
    background-color: #253135;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.lt_aside a{
    text-decoration: none;
}
.container .panel-title{
    height: 40px;
    line-height: 40px;
    font-size: 20px;
}
.login_box{
    margin-top: 150px;
}
/*乐淘后台首页*/
.lt_aside {
    width: 180px;
    height: 100%;
    background-color: #253135;
    position: fixed;;
    left: 0;
    top: 0;
    z-index: 999;
    transition: all 1s;
}
.lt_aside.current{
    left: -180px;
}
.lt_aside  .brand{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    background-color: #367FA9;
}
.lt_aside  a{
    color: #fff;
}
.lt_aside .user{
    width: 180px;
    height: 180px;
}
.lt_aside .user img{
    margin-top: 30px;
    border-radius: 50%;
    margin-left: 50px;
    background-clip: content-box;
    background-origin: content-box;
    width: 80px;
    height: 80px;
}
.lt_aside .user  p{
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}
.lt_aside ul li i{
    margin-right: 5px;
}
.lt_aside ul li a{
    display: block;
    height: 40px;
    padding-left: 40px;
    line-height: 40px;
}
.lt_aside  .child a{
    padding-left: 60px;
}
.lt_aside  a.current{
    background-color: #1D1F21;
    border-left: 3px solid #006699;
}

/*乐淘主面板*/
.lt_main{
    padding-left: 180px;
    width: 100%;
    height: 1000px;
    padding-top: 50px;
    transition: all 1s;
}
.lt_main.current{
    padding-left: 0px;
}
.lt_main  .lt_topBar{
    width: 100%;
    padding-left: 180px;
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    background-color:#3C8DBC;
    z-index: 666;
    transition: all 1s;
}
.lt_main  .lt_topBar.current{
   padding-left: 0;
}
.lt_main .lt_topBar a{
    display: block;
    width: 50px;
    height: 50px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 50px;
}
.lt_main .lt_topBar a i{
    display: inline-block;
    line-height: 1;
}
.lt_main .breadcrumb{
    margin-top: 20px;
}
.lt_main .breadcrumb a{
    text-decoration: none;
}

/*乐淘图表部分*/
.lt_content .echars_left,
.lt_content .echars_right
{
     height: 400px;
     width: 48%;
}

/*乐淘模态框*/
.modal .tips{
    color:#cf3535;
}